
.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
}
.mistry-container {
  width: 260px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px 4px #000;
}
.mistry-container > div {
  /* display: block; */
  margin: 10px;
}
.save-button {
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
}
.input-style {
  padding: 10px;
  width: 220px;
  border-radius: 4px;
}
.save-button {
  display: inline-flex;
  justify-content: center;
  width: 180px;
}
.save-button > input {
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  background: #26a164;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.save-button > input:hover {
  background: #fff;
  color: #000;
}
.label {
  margin: 4px 0px;
}
